- content_for :main_content do
  .row.company-details
    .col-md-8
      .panel.panel-info.company
        .panel-heading
          .panel-title
            = @company.name.gsub(/"/, '') || ' - '
        .panel-body
          %img{src: 'http://www.grapelinemedia.com/img/companies1.jpeg'}
          = @company.description.gsub(/"/, '') || '-'
        %table.table.table-condensed
          - if @company.start_date
            %tr
              %td Founded
              %td= @company.start_date
          
          - if @company.persons.length > 0
            %tr
              %td Founders
              %td= @company.persons[0,2].map {|p| p.name.gsub(/"/, '')}.join()
          
          - if @company.location
            %tr
              %td Headquarters
              %td= @company.location.gsub(/"/, '')
          
          - if @company.investors.length > 0
            - total_amt = 0
            - @company.investors.each do |inv|
              - total_amt += inv.investment_amount
            - if total_amt > 0
              %tr
                %td
                %td
                  
          - if @company.sector
            %tr
              %td Sector
              %td= @company.sector.name.gsub(/"/, '')

          
      .panel.panel-info.team
        .panel-heading
          .panel-title
            Team
        .panel-body
          - if @company.persons.length > 0
            %table.table.table-condensed
              %tbody
                - @company.persons.each_slice(2) do |persons|
                  %tr
                    - persons.each do|person|
                      %td
                        %img.person{src: person.photo_url}
                        = person.name.gsub(/"/, '')
                        %br
                        = person.position.gsub(/"/, '')
          
      
      - if @company.investors.length > 1
        .panel.panel-info
          .panel-heading
            .panel-title Funding Rounds #{@company.investors.length}
          .panel-body
          
      .panel.panel-info
        .panel-heading
          .panel-title
            Products
        .panel-body

      .panel.panel-info
        .panel-heading
          .panel-title
            Competitors
        .panel-body


    .col-md-4
      .list-group.sector-cont
        %a.list-group-item.list-group-item-info{href: '#'}
          Industry Sectors
        - sectors = Company.select('sector_id, count(*) company_count').where('sector_id != 16').group('sector_id').order('company_count').reverse_order
        - sectors.each do |sector|
          - sec_name = Sector.find(sector.sector_id).name
          %a.list-group-item{href: "/c_list?sector_id=#{sector.sector_id}"}
            %span.badge= sector.company_count 
            = sec_name
      
      .panel.panel-info.news-cont
        .panel-heading
          .panel-title
            News
        .panel-body
          .row
            .col-md-6.col-lg-6.col-sm-6
              %img{src: "http://www.grapelinemedia.com/img/news_3.jpg"}
          .news-cont
            Tracking The Rise Of Micro-Funds
            Posted July 24, 2014


