- content_for :main_content do
  - sectors = Company.select('sector_id, count(*) company_count').where('sector_id != 16').group('sector_id').order('company_count').reverse_order
  .panel.panel-info.sectors{style: 'margin-bottom: 170px;'}
    .panel-heading
      .panel-title
        %span.badge.pull-right
          = t('Total Companies')
          &nbsp;:&nbsp;
          = number_with_delimiter(Company.count)
        = t('Industry Sectors')
    .panel-body
      %table.table.table-condensed.sectors
        - sectors.each_slice(4) do |sectors|
          %tr
          - sectors.each do |sector|
            %td
              = link_to (url_for(action: 'list', sector_id: sector.sector_id)) do
                .alert.alert-success
                  = Sector.find(sector.sector_id).name
                  %span.badge.pull-right
                    = number_with_delimiter(sector.company_count)
