- pagination = capture_haml do 
  .pagination-cont
    %ul.pagination
      - if @page == 1
        %li.disabled
          %span
            &laquo;
      - else
        %li
          = link_to (url_for(action: 'list',
            sector_id: @sector_id, page: 1)) do
            %span
              &laquo;

      - @page_list.each do |curr_page|
        - if @page == curr_page
          %li.active
            %span
              = curr_page
        - else
          %li
            = link_to (url_for(action: 'list',
              sector_id: @sector_id, page: curr_page)) do
              %span
                = curr_page

        
      - if @page == @total_pages
        %li.disabled
          %span
            &raquo;
      - else
        %li
          = link_to (url_for(action: 'list',
            sector_id: @sector_id, page: @total_pages)) do
            %span
              &raquo;


- content_for :main_content do
  .row
    .col-md-8
      .panel.panel-info
        .panel-heading
          .panel-title
            = t('Companies')
        .panel-body
          = pagination
          %table.table.companies
            %tbody
              - pic_index = 0
              - @companies.each_slice(2) do |cs|
                %tr
                  - cs.each do |c|
                    - pic_index += 1
                    - if pic_index == 5
                      - pic_index = 1
                    %td
                      .comp-cont
                        = link_to(url_for(action: :company, c_id: c.id)) do
                          %span.c-picture
                            %img{src: "/assets/companies#{pic_index}.jpeg"}
                        .caption
                          = link_to(url_for(action: :company, c_id: c.id)) do
                            .c-name
                              %h4
                                = c.name.gsub(/\"/, '')
                            .c-info
                              - if c.website
                                %a{href: c.website, target: '_blank'}
                                  Website
                              - if c.location
                                = c.sector.name + ', ' + c.location.gsub(/\"/, '')
                              - else
                                = c.sector.name

          = pagination
    .col-md-4
      .panel.panel-info.sector-cont
        .panel-heading
          .panel-title
            = t('Industry Sectors')

        .list-group.sector-cont
          - sectors = Company.select('sector_id, count(*) company_count').where('sector_id != 16').group('sector_id').order('company_count').reverse_order
          - sectors[0, 28].each do |sector|
            - sec_name = Sector.find(sector.sector_id).name
            = link_to(url_for(action: :list, sector_id: sector.sector_id), class: 'list-group-item') do
              %span.badge= number_with_delimiter(sector.company_count) 
              = sec_name
      
      .panel.panel-info.news-cont
        .panel-heading
          .panel-title
            = t('News')
        .panel-body
          .row
            .col-md-6.col-lg-6.col-sm-6
              %img{src: "/assets/news_3.jpg"}
          .news-cont
            Tracking The Rise Of Micro-Funds
            Posted July 24, 2014
